{% extends "NavBar.html" %}
{% block content %}
<head>
  <title> View Work Plan </title>
  <style>
    .header {
      color: #3d5a80;
      text-align: center;
    }
    table {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 60%
      
    }
    .container {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    
  </style>
</head>

<body>
  <h1 class = "header"> All Work Plan </h1>
  <table border = "1px">
    <tr>
      <th> Group Number </th>
      <th> Members </td>
      <th> Goal 1 </th>
      <th> Goal 2 </th>
      <th> Goal 3 </th>
    </tr>
    {% for Workplan in Workplan %}
    <tr>
      <td>{{ Workplan.id }} </td>
      <td>{{ Workplan.member }} </td>
      <td>{{ Workplan.goal1 }} </td>
      <td>{{ Workplan.goal2 }} </td>
      <td>{{ Workplan.goal3 }} </td>
      
    </tr>
    
    {% endfor %}
   
  </table>
</body>
{% endblock %}
    