{% extends "NavBar.html" %}
{% block content %}
<style>
  .box{
			text-align: center;
			border: 4px Solid LightGray;
			background-color:LightGray;
      margin-left: auto;
      margin-right: auto;
      width: 60%;
    }
    .header {
      color: #3d5a80;
      text-align: center;
    }
</style>

<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    <div class="player">
      {% if current_user.role == 'admin' %}
      <h1 class="header"> Overall Rating of Each Evaluation and User </h1>
      {% else %}
      <h1 class="header"> Average Ratings Per Question </h1>
      {% endif %}
        <canvas class="box" id="myChart1" style="width:100%;max-width:1000px"></canvas>

        <script>
          var xValues = {{ xValues|safe }};
          var yValues = {{ yValues }};
          var barColors = [
            "#b91d47",
            "#00aba9",
            "#2b5797",
            "#e8c3b9",
            "#1e7145"
          ];
          
          new Chart("myChart1", {
            type: "bar",
            data: {
              labels: xValues,
              datasets: [{
                backgroundColor: barColors,
                data: yValues
              }]
            },
            options: {
              legend: {display: false},
              title: {
                display: true,
                text: ""
              },
              scales: {
                  yAxes: [{
                   ticks: {
                      beginAtZero: true
                    }
                  }]
            }
          }});
          </script>

    </div>
    <h3 class="box"> <a href = "/view_evaluations">Back to View Evaluations </a> </h3>
  </div>

</body>
{% endblock %}
