<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Work+Sans:300">
<link href="/" rel="stylesheet" type="text/css">
<meta charset="UTF-8">
<title>Navbar</title>
</head>

<body>
	<img src="peer.png" alt="logo" class="logo">
	<div class="container">
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<div style = "position:relative; left:250px; top:60px;">
					<a class="nav-link" href="./PeerHome.html">Home</a>
				</li>
			</ul>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<div style = "position:relative; left:550px; top:30px;">
					<a class="nav-link" href="./workplan">Work Plan</a>
				</li>
			</ul>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<div style = "position:relative; left:850px; top:-5px;">
					<a class="nav-link" href="/evaluation">Evaluation</a>
				</li>
			</ul>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<div style = "position:relative; left:1150px; top:-37px;">
					<a class="nav-link" href="/login">Login</a>
				</li>
			</ul>
				
	</div>

	{% block content %}{% endblock %}
</body>
</html>