{% extends "NavBar.html" %}
{% block content %}
<head>
	<title> No WorkPlan Found </title>
	<style>
    	.header{
			color:#3d5a80;
			text-align: center;
		}

		.box{
        	border: 2px solid #3d5a80;
        	border-radius: 25px;
        	box-shadow: 15px 15px 10px #3d5a80;
        	margin: auto;
        	width: 50%;
        	padding: 50px;
    	}	
    
	</style>
</head>

   <div class="box">
        <h2 class="header">WorkPlan was not found please go back and submit the form again. </h2>
		<h3 class="header"><a href="/evaluation">Back to Evaluation Form</a></h3>
    </div>
{% endblock %}