{% extends "NavBar.html" %}

{% block content %}
<head>

	<title>View Groups </title>
    <style>

		table{
			text-align: center;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            background-color: white;
		}

        .container {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        
        .header{
			color:#3d5a80;
			text-align: center;
		}

        th,td {
      padding: 10px;
    }

		
	</style>

</head>
<body>
    <h1 class="header"> View All Groups </h1>
	{% for member in member %}
        {% if current_user.username == member.member_id %}
        <h2 class="header">You are in {{ member.group_id }}</h2>
        {% endif %}
    {% endfor %}
    <div class="container">
    <table border="1px">
        <tr>
            <th> Group Number </th>
            <th> Group Name </th>
            <th> Members </th>
        </tr>
        {% for group in groups %}
        <tr>
            <td>{{ group.id }} </td>
            <td>{{ group.groupName }}</td>
            <td>{{ group.member }}</td>
		</tr>
		{% endfor %}
	</table>
    {% if current_user.role == 'admin' %}
        <h3><a href="/add_to_group">Add Users to Groups</a></h3>
        <h3><a href="/create_group">Create Groups</a></h3>
        <h3><a href="/remove_from_group">Remove Users from Groups</a></h3>
    {% endif %}
    </div>

</body>
{% endblock %}