{% extends "NavBar.html" %}
{% block content %}
<head>
  <title> View Submitted Evaluations </title>
  <style>
    .header {
      color: #3d5a80;
      text-align: center;
    }
    table {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 60%
      
    }
    .container {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    
  </style>
</head>

<body>
  <h1 class = "header"> All Evaluations Submitted </h1>
  <table border = "2px">
    <tr>
      <th> Group Number </th>
      <th> Members </td>
      <th> Rating 1 </th>
      <th> Rating 2 </th>
      <th> Rating 3 </th>
    </tr>
    {% for evaluation in evaluations %}
    <tr>
      <td>{{ form.evaluation }} </td>
      <td>{{ evaluation.id }} </td>
      <td>{{ evaluation.member }} </td>
      <td>{{ evaluation.rating1 }} </td>
      <td>{{ evaluation.rating2 }} </td>
      <td>{{ evaluation.rating3 }} </td>
      
    </tr>
    
    {% endfor %}
   
  </table>
</body>
{% endblock %}
    
