{% extends "NavBar.html" %}
{% block content %}
<head>
	<style>
		.header{
			color:#3d5a80;
			text-align: center;
		}
		
		.box{
			text-align: center;
			border: 4px Solid LightGray;
			background-color:LightGray;
		}
	
	
	</style>

</head>

</style>
	<title> Workplan </title>

</head>

	<h1 class="header"> Workplan</h1>
	<div class="box">
		<h1 class="header"> Add Workplan </h1>
			<form action="" method="post" novalidate>
				{{ form.hidden_tag() }}
			

				<p>	{{ form.project_members.label(style='font-size: 20px;') }}<br>
					{{ form.project_members(size=45, style='height: 50px; width: 500px;') }}</p>
				</p>

				<p>	{{ form.current_goals.label(style='font-size: 20px;') }}<br>
					{{ form.current_goals(size=45, style='height: 100px; width: 500px;') }}</p>
				</p>
				
				<p>
					{{ form.project_description.label(style='font-size: 20px;') }}<br>
					{{ form.project_description(size=45, style='height: 100px; width: 700px;') }}
				</p>
				
				<p>	{{ form.nextphase_goals.label(style='font-size: 20px;') }}<br>
					{{ form.nextphase_goals(size=45, style='height: 100px; width: 700px;') }}</p>
				</p>
				
				<p>{{ form.submit(style='font-size: 20px; color: #3d5a80;') }}</p>
				<p><a href="/view_workplan">View Current Work Plan </a></p>
		
				
			</form>
		</div>
</head> 		
{% endblock %}
