{% extends "NavBar.html" %}
{% block content %}
<head>
	<style>
		.header, h2{
			color:#3d5a80;
			text-align: center;
		}
		
		.box{
			text-align: center;
			border: 4px Solid LightGray;
			background-color:LightGray;
		}
	
	
	</style>

</head>

</style>
	<title> Workplan </title>

</head>

	<h1 class="header"> Workplan</h1>
	<div class="box">
		<h1 class="header"> Add Workplan </h1>
		<h2>Add Goals that you would like this teams to accomplish.</h2>
			<form action="" method="post" novalidate>
				{{ form.hidden_tag() }}
			

				<p>	{{ form.groupName.label(style='font-size: 20px;') }}<br>
					{{ form.groupName(size=45, style='height: 25px; width: 200px;') }}</p>


				<p>	{{ form.start_date.label(style='font-size: 20px;') }}<br>
					{{ form.start_date(size=45) }}</p>

				<p>	{{ form.end_date.label(style='font-size: 20px;') }}<br>
					{{ form.end_date(size=45) }}</p>
			

				<p>	{{ form.goal1.label(style='font-size: 20px;') }}<br>
					{{ form.goal1(size=45, style='height: 50px; width: 400px;') }}</p>


				<p>	{{ form.goal2.label(style='font-size: 20px;') }}<br>
					{{ form.goal2(size=45, style='height: 50px; width: 400px;') }}</p>


				<p>	{{ form.goal3.label(style='font-size: 20px;') }}<br>
					{{ form.goal3(size=45, style='height: 50px; width: 400px;') }}</p>

				

				<p>{{ form.submit(style='font-size: 20px; color: #3d5a80;') }}</p>
				<p><a href="/view_workplan">View Current Work Plan </a></p>
		
				
			</form>
		</div>
</head> 		
{% endblock %}
